.camera-view {
  /* background-color: aqua; */
  /* border-radius: 15px; */
  /* border: 1px solid w; */
  /* width: 80vw; */
  /* height: 40vh; */
  margin: 0 auto;
  margin-top: 5vh;
}

.ScanPage {
  padding: 2vh;
}
