.EventPage {
  padding: 2vh;
}

.event-image {
  width: 100%;
  border-radius: 15px;
}

.event-title {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
  padding-bottom: 2vh;
}

.event-owner {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-bottom: 2vh;
  font-weight: bold;
  text-align: left;
  gap: 3vw;
}
.event-address {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-bottom: 2vh;
  font-weight: bold;
  text-align: left;
  gap: 3vw;
}
.event-date {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-bottom: 2vh;
  font-weight: bold;
  text-align: left;
  gap: 3vw;
}

.event-address-and-date {
  border-bottom: 1px solid;
}

.event-description {
  padding-top: 1vh;
  padding-bottom: 5vh;
  text-align: left;
}
.order-ticket-button {
  position: fixed;
  bottom: 2vh;
  left: 50%;
  width: 80vw;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #3d4350;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: 2px solid white;
}

/* .link {
  right: 0;
} */

.link-button {
  display: grid;
  grid-template-columns: max-content 1fr;
  font-weight: bold;
  align-items: center;
  gap: 3vw;
  font-size: 1.1rem;
  padding: 0;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;

  position: fixed;
  top: 2vh;
  right: 2vw;
}

.link-icon {
  width: 7vw;
}

button {
  padding: 0.75rem 1rem;
  font-size: 2rem;
  margin: 0 auto;
}

.warning {
  margin-top: 1rem;
  background: #f7ad00;
  padding: 0.8rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}
